
body {
    background-color: #464E2E;
}

header {
    border-bottom: 1px solid;
    border-width: 5px;
    text-align: center;
    font-size: 40px;
    background-color: #362706;
    border-color:#000000;
    color: #ACB992;
}
    .btn-danger {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .section-title {
        margin-left: 10%;
        margin-top: 0%;
       color: #ACB992;
    }
    .appearance {
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .backstory {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0%;
    }
    
    .form-control {
        max-height: 25%;
        background-color: #ACB992;
    }

    .form-floating {
        border: 5px solid black;
        border-radius: 5px;
        background-color: #ACB992;
    }
    
    .textarea {
        border-style: inset;
        border-width: 10px;
        background-color: #ACB992;
    }
    
    .btn.btn-dark {
        margin-top: 2%;
        margin-right: 1%;
        margin-left: 1%;
        background-color: #362706;
        color: #ACB992;
    }
    
    .footer {
        margin-top: 2%;
        color: #ACB992;
    }
