body {
    text-align: center;
    background-color: #464E2E;
}

header {
    border-bottom: 1px solid;
    border-width: 5px;
    text-align: center;
    font-size: 40px;
    background-color: #362706;
    border-color:#000000;
    color: #ACB992;
}

.character-name {
    border: solid 5px;
    text-align: left;
    width: 62%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #ACB992;
    border-color:#000000;
    color: #000000;
}

#char-count {
    position: relative;
    font-size: 20px;
    color: #ACB992;
}

.container-fluid {
    margin-top: 50px;
    height: fit-content;
    width: 90%;
}

.row div {
    border: solid 5px;
    padding: 1px;
    overflow: hidden;
    border-radius: 10px;
    border-color: #000000;
}

.form-control {
    background-color: #ACB992;
}

.btn.btn-outline-dark {
    background-color:#362706;
    color:  #ACB992;
}

.dropdown-toggle {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #362706;
}

#continue {
    margin-top: 30px;
    margin-right: 2%;
    background-color: #ACB992;
    color: #000000;
}

#back{
    margin-top: 1%;
    margin-right: 1%; 
    margin-left: 1%
}

.species {
    border: solid 5px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    width: 62%;
    padding: 20px;
    text-align: center;
    border-color:#000000;
    color: #000000;
    background-color: #ACB992;
}

#choose-species-text {
    color: #000000;
    margin: 50px
}

footer p {
    text-align: center;
    color:#ACB992;
}
