header {
    border-bottom: 1px solid;
    border-width: 5px;
    text-align: center;
    font-size: 40px;
}

.character-name {
    border: solid 5px;
    text-align: left;
    width: 62%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
}

.container-fluid {
    margin-top: 50px;
    height: fit-content;
    width: 90%;
}

.row div {
    border: solid 5px;
    padding: 1px;
    overflow: hidden;
    border-radius: 10px;
}



.dropdown-toggle {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#continue {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-right: 2%;
}

#back{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-right: 30px; 
    margin-left: 2%
}

.species {
    border: solid 5px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    width: 62%;
    padding: 20px;
    text-align: center;
}

#choose-species-text {
    color: rgb(0, 0, 0, .3);
    margin: 50px
}

footer p {
    text-align: center;
}
