header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



header h1 {
    border: 1px solid;
}

.directions {
    position: relative;
    margin: 100px 20px 0px 20px;
    padding: 10px;

}

h2 .your-char {
    text-decoration: underline;
}

section .char-box {

}

section .empty-box {
    
}
