body {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #464E2E;
    color: #000000;
}

header {
    border-bottom: 1px solid;
    border-width: 5px;
    text-align: center;
    font-size: 40px;
    background-color: #362706;
    border-color:#000000;
    color: #ACB992;
}

.container {
    flex: 1;
}

#back {
    margin-left: 1%;
    margin-top: 1%;
}


.classes-box {
    margin-top: 30px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ACB992;
    border: 5px solid black;
    border-radius: 5px;
}

.weapons-spells-box {
    margin-top: 30px;
}

.barbarian {
    background-image: url(../images/barbarian.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.bard {
    background-image: url(../images/bard.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.cleric {
    background-image: url(../images/cleric.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%; 
}

.druid {
    background-image: url(../images/druid.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.fighter {
    background-image: url(../images/fighter.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.paladin {
    background-image: url(../images/paladin.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.ranger {
    background-image: url(../images/ranger.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.rogue {
    background-image: url(../images/rogue.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.warlock {
    background-image: url(../images/warlock.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.wizard {
    background-image: url(../images/wizard.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.barbarian:hover, 
.bard:hover,
.cleric:hover,
.druid:hover,
.fighter:hover,
.paladin:hover,
.ranger:hover,
.rogue:hover,
.warlock:hover,
.wizard:hover {
    opacity: 100%;
    transition: opacity .5s
}

.empty {
    color: rgb(0, 0, 0, .5)
}

.weapons-box,
.spells-box, .class-description {
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    text-align: center;
    background-color: #ACB992;
}



.weapons-box {
    margin-top: 10px;
}

.weapons-box h3,
.spells-box h3,
.class-description h3{
    font-weight: bold;
}

.weapons-box label {
    font-size: 25px;
}

.spells-box label {
    font-size: 20px;
}

.label-size {
    font-size: 25px;
}


.roll-btn {
    background-color: #362706;
    color:#ACB992;
    font-family: "Almendra", serif;
    margin: 20px 0px
}

.stats-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#continue {
    background-color: #362706;  
    color:#ACB992;  
    margin-right: 1%
}

.footer {
    color: #ACB992;
}


