body {
    text-align: center;
}

.section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.section .tools,
.section .spells {
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    width: 300px;
    text-align: center;

}

.section .tools h3,
.section .spells h3{
    font-weight: bold;
}



.roll-btn {
    font-family: "Almendra", serif;

    margin: 20px 0px
}

section .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.roll-and-stats {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.stats > div {
    width: 60px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    text-align: center;
}

.footer {
    margin-top: 2%;
}