body {
    text-align: center;
}

.classes-box {
    margin-top: 30px;
}

.card {
    width: 100px;
    height: 100px;
}

.weapons-spells-box {
    margin-top: 30px;
}

.barbarian {
    background-image: url(../images/barbarian.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.bard {
    background-image: url(../images/bard.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.cleric {
    background-image: url(../images/cleric.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%; 
}

.druid {
    background-image: url(../images/druid.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.fighter {
    background-image: url(../images/fighter.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.paladin {
    background-image: url(../images/paladin.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.ranger {
    background-image: url(../images/ranger.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.rogue {
    background-image: url(../images/rogue.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.warlock {
    background-image: url(../images/warlock.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.wizard {
    background-image: url(../images/wizard.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.barbarian:hover, 
.bard:hover,
.cleric:hover,
.druid:hover,
.fighter:hover,
.paladin:hover,
.ranger:hover,
.rogue:hover,
.warlock:hover,
.wizard:hover {
    opacity: 100%;
    transition: opacity .5s
}

.tools,
.spells {
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    width: 300px;
    text-align: center;

}

.tools h3,
.spells h3{
    font-weight: bold;
}



.roll-btn {
    font-family: "Almendra", serif;

    margin: 20px 0px
}

.stats-container {
    margin-top: 30px;
}

.roll-and-stats {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.stats > div {
    width: 60px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    text-align: center;
}

#continue {
        width: fit-content;
        height: fit-content;
        position: relative;
        top: 10%
}

.footer {
    margin-top: 2%;
}